/*-- scss:defaults --*/
$link-color: #00bc8c;

$link-color-dark: #00bc8c;

/*-- scss:rules --*/
.quarto-listing h3 a {
  color: $link-color;
}

.quarto-listing h3 a:hover {
  text-decoration: underline;
}